################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/opencv/sources
/opencv/README.md.txt
/opencv/LICENSE_FFMPEG.txt
/opencv/LICENSE.txt
/opencv/build
/opencv_world412d.dll
